# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
# Read in city data
city_data = "Output Data/cities.csv"
pd.read_csv(city_data)

,Unnamed: 0,Name,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tasiilaq,65.6145,-37.6368,265.15,93,804,9.26,GL,1611946390
1,1,Dikson,73.5069,80.5464,236.95,84,804,2.53,RU,1611946391
2,2,Alofi,-19.0595,-169.9187,298.15,94,501,4.12,NU,1611946391
3,3,Port Alfred,-33.5906,26.8910,291.48,89,800,0.89,ZA,1611946159
4,4,Salinópolis,-0.6136,-47.3561,301.52,73,804,6.24,BR,1611946392
...,...,...,...,...,...,...,...,...,...,...
2647,2647,Qurayyat,31.3318,37.3428,281.15,53,803,5.14,SA,1611947090
2648,2648,Stavrovo,56.1331,40.0130,270.77,98,804,5.68,RU,1611947090
2649,2649,Yazoo City,32.8551,-90.4056,286.15,43,800,2.37,US,1611947011
2650,2650,Santa Lucía,27.9117,-15.5407,294.26,78,800,3.09,ES,1611947090
2651,2651,Abaza,52.6550,90.0928,269.56,94,600,5.51,RU,1611947091

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure